/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
Colors Used

Background Color (Silver): #f7f8f9;

Text Color (Dark Grey): #54a0b8;

Primary Color (Magenta): #357b70;
Secondary Color (Orange): #e0b354;

Link Color:#2b2b2b;
active Link Color: #2e2e2e;

Button Primary Background Color: #357b70;
Button Primary Text Color: white;
Button Secondary Background Color: #e0b354
Button Secondary Text Color: #2b2b2b;
*/
html {
  scroll-behavior: smooth;
}
body {
  background-color: #f7f8f9;
  font-family: 'IBM Plex Serif', serif;
  font-weight: 100;
  font-size: 16px;
  line-height: 1.6;
  color: #373c44;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'IBM Plex Sans', sans-serif;
}

h1 {
  font-size: calc(16px * 2);
  font-weight: calc(100 + 260);
}

h2 {
  font-size: calc(16px * 2.5);
  font-weight: 100;
}

h3 {
  font-size: calc(16px * 1.5);
  font-weight: 100;
}

a {
  color: #54a0b8;
}

a:visited {
  /* visited link */
  color: #54a0b8;
}

a:hover,
a:focus {
  text-decoration: none;
}

a:active {
  color: #2e2e2e;
}

/* Navigation */
.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list__item--active {
  text-decoration: none;
}

/* Flex-Layout */
.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 22px;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

.profile,
.aboutme,
.contact {
  max-width: 700px;
  margin: 0 3%;
}

/* TODO Change this if the right content is there*/
.aboutme a.button {
  line-height: 400%;
}

.work {
  margin: 0 3%;
}

.profile__portrait {
  float: left;
  width: 250px;
  height: auto;
  margin: 5% 3%;
  border-radius: 50%;
  /* this makes a circle!*/
}

.page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin-top: 1%;
  padding: 20px;
  border-top: rgba(0, 0, 0, 0.3) 1px solid;
}

.page-footer__item {
  font-size: calc(16px * 0.8);

  clear: both;
  text-align: left;
}

.page-footer__adress {
  font-size: calc(16px * 0.8);
  text-align: left;
}

/* Grid-Layout*/

/* start grid fallback */
.grid__item {
  display: inline-block;
  width: 33%;
}

/* end grid fallback */

@supports (display: grid) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0;
    /* might be not necessary because of normalize */
  }
  .grid__two {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin: 0 10%;
    /* might be not necessary because of normalize */
  }

  .grid__item {
    background-color: lightgray;
    width: auto;
    min-height: auto;
    margin: 0;
    padding: 1% 3%;
  }

  .grid__item:last-child {
    -ms-grid-column: 3;
    grid-column: 3 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 /3;
  }
}

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .grid__two {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .profile {
    float: none;
    text-align: center;
  }

  .profile__portrait {
    float: none;
  }

  .page-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: calc(16px * 0.84);
  }

  .page-footer__item {
    margin-top: 2%;
  }

  .social-media img {
    width: 15px;
    height: 15px;
  }

  a.button {
    font-size: 50%;
    padding: 5px;
  }
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav > ul {
    margin-right: 7%;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
}

main.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  margin: auto;
}

.contact-image {
  margin: auto 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  text-align: center;
  margin-right: 3%;
}

div.contact-image img {
  width: 100%;
  height: 100%;
}

.section__margin {
  margin-top: 9%;
}

nav {
  justify-content: flex-start;
}

nav > ul {
  margin-right: 7%;
}

.explorer {
  text-shadow: 2px 2px 0 rgba(0, 128, 128, 0.254),
    4px 4px 0 rgba(0, 128, 128, 0.354), 6px 6px 0 rgba(32, 178, 171, 0.298);
}
