# IDE-spezifische Dateien
.idea/

# Dependencies
/node_modules/

# Mögliche Build-Artefakte
/dist/
/build/

# Temporäre Dateien
.DS_Store
Thumbs.db

# Package Manager Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Dateien
.env
.env.local